#menu {
  display: inline;
  margin: 0;
  padding: 0;
}
#menu li {display: inline-block; width:200px; text-align: center;}
#menu li:hover {background: #555;}
#menu li:hover ul {display: block;}
#menu li ul {
  display: none;
  position: absolute;
  width: 200px;
  left: -40px;
}
#menu li ul li {
  background: #555;
  display: block;
}
#menu li ul li a {
    display:block !important;
    text-decoration: none;
}
#menu li ul li:hover {background: #666;}