{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Get Unit By Time</h1>
        <form method="POST">
        <label for="classtime">Choose a time:</label>
            <select name="classtime" onchange="this.form.submit()">
             <option value={{default}}>{{default}}</option>
             {% for time in times %}
                <option value={{time[0]}}>{{time[0]}}</option>
             {% endfor %}
            </select>
        </form>
        
        <!-- <form method="POST">
            <input name="classtime">
            <input type="submit">
        </form> --> 

        <table class="pure-table">
            <thead>
                <tr><th>UOS Code</th><th>Semester</th><th>Year</th><th>classtime</th><th>classrom ID</th></tr>
            </thead>
            <tbody>
                {% for unit in units %}
                    <tr>
						<td> {{unit[0]}}</td>
                        <td> {{unit[1]}} </td>
                        <td> {{unit[2]}} </td>
                        <td> {{unit[3]}} </td>
                        <td> {{unit[4]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
